= form_for @payment, :html => {:class => "form-horizontal"} do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :amount, :class => "control-label"
    .controls= f.number_field :amount
  .control-group
    .form-actions
      = f.submit 'Pay now', :class => 'btn'
